################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinApp/FileContentIndex/7e162835-eb27-4227-8b88-920807eb7860.vsidx
